.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
}

.welcome-message {
  width: 75%;
  margin: 15px;
}

.results-list {
  width: 75%;
  gap: 15px;
  margin-bottom: 50px;
}
