header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 110px;
  width: 100vw;
  padding: 20px;
  gap: 10px;
  border-bottom: 4px solid var(--color1);
  background-color: white;
  /* color: var(--color4); */
}

/* .header-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 35px;
  margin: 0;
  color: var(--colorLightOrange);
} */
/* .welcome,
h2 {
  font-size: 2em;
  text-transform: uppercase;
} */

/* .header > button {
  background-color: var(--color4);
  border: none;
  color: var(--color2);
  cursor: pointer;
  font-size: large;
  font-weight: 700;
  text-transform: uppercase;
} */
