header {
  align-items: center;
  background-color: var(--color4);
  border-bottom: 3px solid var(--color1);
  color: var(--color2);
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 10px;
  width: 100vw;
}

.welcome,
h2 {
  font-size: 2em;
  text-transform: uppercase;
}

.header > button {
  background-color: var(--color4);
  border: none;
  color: var(--color2);
  cursor: pointer;
  font-size: large;
  font-weight: 700;
  text-transform: uppercase;
}
