.material-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 30%;
  border-radius: 5px;
  box-shadow: 0 0 5px black;

  background-color: var(--colorCream);
  padding: 20px;
}
