.recycler {
  /* border: grey 1px solid; */
  padding: 20px 40px;
  width: 90%;
  margin: 15px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.503);
  background-color: white;
  border-radius: 4px;
  /* border: 1px solid var(--colorBurgundy); */
}

.recycler:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.02); /* Grow the button by 10% */
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}
