.recycler {
  border: grey 1px solid;
  padding: 5px 20px 20px 10px;
  width: 90%;
  margin: 15px;
  box-shadow: 3px 3px 5px grey;
}

.recycler:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.02); /* Grow the button by 10% */
  cursor: pointer;
}

a {
  text-decoration: none;
}
