.results-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin-bottom: 50px;
}

.results-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colorCharcoal);
  /* background-image: linear-gradient(rgba(139, 39, 6, 0.9), rgba(139, 39, 6, 0.8)); */
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.results-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 50px;
  margin-top: 15px;
  width: 80vw;
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colorCharcoal);

  /* background-image: linear-gradient(rgba(139, 39, 6, 0.8), rgba(139, 39, 6, 0.5)); */
}
