.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  /* width: 100vw; */
}

.welcome-message {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 80vw;
  padding: 25px;
  color: white;
}

@media screen and (max-width: 600px) {
  .welcome-message {
    width: 90vw;
    padding: 10px;
  }
}
