.footer {
  align-items: center;
  background-color: var(--colorBurgundy);
  border-top: 3px solid var(--color1);
  color: white;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  padding: 20px;
  width: 100vw;
}
