@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-size: 1.1em; */
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  --color1: rgb(31, 3, 24);
  --color2: rgb(229, 242, 201);
  --color4: rgb(253, 241, 195);
  --color5: rgb(315, 13, 12);
  --color6: rgb(209, 208, 207);
  --colorBeige: rgba(228, 201, 196, 0.9);
  --colorLightOrange: rgb(242, 179, 90);
  --colorCream: rgb(149, 138, 132);
  --colorBurgundy: rgb(91, 13, 13);
  --colorTransparentBurgundy: rgba(138, 15, 15, 0.185);
  background-color: var(--colorBeige);
  color: var();
  cursor: default;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  justify-content: center;
  width: 100vw;
}
button {
  cursor: pointer;
}
