@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  box-sizing: border-box;
}

body {
  --color1: rgb(31, 3, 24);
  --color2: rgb(229, 242, 201);
  --color3: rgb(127, 83, 75);
  --color4: rgb(140, 112, 95);
  --color5: rgb(315, 13, 12);
  --color6: rgb(227, 202, 187);
  background-color: var();
  color: var();
  cursor: default;
  display: flex;
  font-family: 'Oswald', sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}
button {
  cursor: pointer;
}
