@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  box-sizing: border-box;
}

body {
  --color1: rgb(31, 3, 24);
  --color2: rgb(229, 242, 201);
  --color3: rgb(127, 83, 75);
  --color4: rgb(253, 241, 195);
  --color5: rgb(315, 13, 12);
  --color6: rgb(247, 243, 240);
  --colorLightOrange: rgb(242, 179, 90);
  --colorCream: rgb(229, 207, 192);
  --colorBurgundy: rgb(91, 13, 13);
  --colorTransparentBurgundy: rgba(138, 15, 15, 0.185);
  background-color: var(--color6);
  color: var();
  cursor: default;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  justify-content: center;
  width: 100%;
}
button {
  cursor: pointer;
}
