.auth {
  background-color: var(--color3);
  border-radius: 10px;
  border: 2px solid var(--color1);
  display: grid;
  font-weight: 700;
  justify-content: center;
  justify-items: center;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  width: 300px;
}

a {
  color: var(--color1);
  display: inline;
  padding: 0px 10px 10px 10px;
  text-decoration: none;
}

a.active {
  text-decoration: underline;
}

input:focus {
  outline: none;
}

.input-form {
  display: grid;
  justify-items: end;
  margin-right: 50px;
  padding: 10px 0px 10px 0px;
}

.input,
.auth > button {
  background-color: var(--color2);
  border: 2px solid var(--color1);
  border-radius: 5px;
  color: var(--color1);
  font-weight: 700;
  margin-bottom: 10px;
  width: fit-content;
}
